
body{
	color: #0bd373;
	background-color: #303a3c;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-row-gap: 15px;
	
}

#container{
	grid-column: 2;
	grid-row: 2;
}

footer{
	text-align: right;
	grid-column: 2;
	grid-row: 4;
}


#save-button{
	background-color: #0c9654;
}

I{
	font-size: 30px;
}

a{
	text-decoration: none;
	color: #0bd373;
}

#facebook{ color: #405DE6; }

#instagram{ color: #C13584; }